<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html, charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ GLOBAL_PRE_NAME }} | {{ GLOBAL_NAME }}</title>
  <meta name="keywords" content="{{ GLOBAL_SEO_KEYWORDS }}">
  <meta name="description" content="{{ GLOBAL_SEO_DESCRIPTION }}">
  <meta name="og:title" content="{{ GLOBAL_SEO_NAME }}">
  <meta name="og:description" content="{{ GLOBAL_SEO_DESCRIPTION }}">
  <meta name="theme-color" content="#222">
  <link rel="icon" href="assets/images/favicon.ico" />
  <link rel="stylesheet" href="assets/index.{{ GLOBAL_CSS_SUFIX }}css">
</head>

<body>
  <noscript>
    <h1>Sorry! Your browser does not support JavaScript!</h1>
  </noscript>
  <div class="page">
    <header class="page__header">
      {% block header %}{% endblock %}
    </header>
    <main class="page__main">
      {% block content %}{% endblock %}
    </main>
    <footer class="page__footer"></footer>
  </div>
  <script defer src="assets/index.{{ GLOBAL_JS_SUFIX }}js"></script>
</body>

</html>